<html ng-app>
<head>
    <title>Your Shopping Cart</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.js"></script>
    <script src="/AngularLearner/src/controllers/restaurantTableController.js"></script>
</head>
<body ng-controller="RestaurantTableController">
    <table>
        <tr ng-repeat="rest in directory" ng-click="selectRestaurant($index)" ng-class="{selected: $index==selectedRow}">
            <td>{{rest.name}}</td>
            <td>{{rest.cuisine}}</td>
        </tr>
    </table>
</body>
</html>