<!DOCTYPE html>
<html ng-app="">
<head>
    <title>Your Shopping Cart</title>
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.js"></script>
    <script src="/AngularLearner/src/controllers/cartController.js"></script>
</head>


<body ng-controller="CartController">
    <div ng-repeat="item in items">
        <span>{{item.title}}</span>
        <input ng-model="item.quantity"/>
        <span>{{item.price | currency}}</span>
        <span>{{item.price * item.quantity | currency}}</span>
    </div>
    <div>Total: {{totalCart() | currency}}</div>
    <div>Discount: {{discount | currency}}</div>
    <div>Subtotal: {{subtotal() | currency}}</div>
</body>
</html>