<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Your Shopping Cart</title>
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.js"></script>
    <script src="/AngularLearner/src/controllers/cartController.js"></script>
</head>


<body ng-controller="CartController">
    <h1>Shop!</h1>
    <table>
        <td>{{item.title}}</td>
        <td>{{item.description}}</td>
        <td>{{item.price | currency}}</td>
        </tr>
    </table>
</body>
</html>