<html ng-app>
<body>
<p ng-bind="someText.message"></p>

<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.js"></script>
<script src="/AngularLearner/src/controllers/someController.js"></script>

<form ng-submit="requestFunding()" ng-controller="SomeController">
    Starting:
    <input ng-change="computeNeeded()" ng-model="funding.startingEstimate"/>
    Recommendation:
    {{funding.needed}}
    <button>Fund my startup!</button>

</form>

</body>
</html>